/* comment */
body{
	background:#011627;
}
h1{
	color:#FDFFFC;
}
nav a {
	width:15%;
	padding:10px;
	text-decortaion:none;
	background:#B91372;
	color:#FDFFFC;
	border-radius:5px;
	transition:all .5s ease-out;
	transform-style: preserve-3d;
}

nav a:hover{
	padding:20px;
	background:#41EAD4;
}

h2 {
	color: #FDFFFC;
	font-family: Times, Arial, Cursive;
}


.movie{
	display:inline-block;
}
figure{
	display:inline-block;
	width:30%;
	margin:35px;
}

img{
	border:solid;
	border-color:#FDFFFC;
	border-width:5px;
	width:200px;
	transition:1s ease;
}
img:hover{
	transform:rotate(180deg);
}

figcaption{
	color:#FDFFFC;
	font-size:150%;
}
section p{
	border-width:5px;
	border:none;
	color:#FDFFFC;
	width:65%;
	font-size:200%;
	display:inline-block;
	float:right;
}